#main-product-page{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1; /* Faz o main content ocupar o restante do espaço */
}
#product-bar{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 15%;
    align-items: center;
}
.link-sidebar{
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 25px;
    transition: 0.4s;
}
.main-image-wrapper{
    display: flex;
    justify-content: center;
}
.link-sidebar h5{
    position: absolute;
    right: 0;
    padding: 20px;
}
.link-sidebar:hover h5{
    color: #F0F7F4;
}
.products-grid{
    width: 90%;
    height: 90%;
    display:grid;
    box-sizing: border-box;
    padding:0px 100px 0px 100px;
    column-gap: 10px;
    grid-template-columns: repeat(auto-fit, 300px); /* Colunas flexíveis para os produtos */
    grid-auto-rows: 300px;
}
.link-sidebar::after{
    content: '';
    position: absolute;
    background-color: #141414;
    width: 0%;
    height: 100%;
    z-index: -10;
    transition: 0.4s;
}
.link-sidebar:hover::after{
    width: 100%;
}
.product-container{
    cursor: pointer;
    margin: 10px 0px 10px 0px;
    display: flex;
    align-items: center;
    border: 5px solid #d8dfdb;
    flex-direction: column;
}
.product-container img{
    max-width:70%;
    max-height:70%;
    transition: 0.4s;
    
    margin: 10px 0px 10px 0px;
}

.product-container:hover img{
    max-width:71%;
    max-height:71%;
}
.products-grid a{
    color: black;
    text-decoration: none;
    object-fit: contain; /* Mantém a proporção da imagem dentro do container */

}
.caption{
    text-align: center;
    font-size: 18px;
    display: flex;
    margin: 15px 0px 15px 0px;
    flex-direction: column;
    align-items: center;
    
}
.caption i{
    box-sizing: border-box;
}
#product-bar a{
    width: 100%;
    height: 100%;
}
#products-details-main{
    width: 100%;
    height: 90%;
}
@media (max-width: 1000px){
    .caption{
        font-size: 15px;
    }
    #main-product-page{
        justify-content: center;
    }
    #product-bar{
        width: 40%;
    }
    .products-grid{
        grid-template-columns: 100%;
        
        width: 60%;
        height: 90%;
        padding:0px;
    }
}