.images-wrapper{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.Home {
    display: flex;
    flex-direction: column;
    height: 100%; 
}
#products-details-main{
    display: flex;
    flex-grow: 1; /* Faz o main content ocupar o restante do espaço */
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
#content-wrapper{
    display: flex;
    justify-content: center;
    width: 80%;
    height: 90%;
    border-radius: 30px;
}
#image-container{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
}

#image-container img{ 
    height: 100%;
    border: 10px solid #141414;;
    object-fit: contain; /* Mantém a proporção da imagem dentro do container */
    max-width: 90%;
    max-height: 100%; 
}
#info-container{
    width: 50%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(212, 212, 212);
    display: flex;
    flex-direction: column;
    padding: 30px 50px 50px 50px;
}
#info-product-title{
    font-size: 50px;
    margin-bottom: 50px;
}

#info-container p{
    font-size: 25px;
}

#line{
    width: 100%;
    height: 1px;
    background-color: rgb(168, 168, 168);
    margin-bottom: 30px;
}

#locador{
    margin-bottom: 50px;
}

#info-container button{
    align-self: center;
    width: 50%;
    height: 50px;
    border-radius: 10px;
    color: black;
    font-size: 20px;
    transition: 0.5s;
}

#info-container button:hover{
    background-color: black;
    color: white;
}