#header{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header img{
    margin-left: 10%;
    height: 90%;
}
nav{
    
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    list-style-type: none;
    margin-right: 10%;
}
nav a{
    position: relative;
    text-decoration: none;
    font-size: larger;
    color: white;
}
a::after{
    content: '';
    position: absolute;
    background-color: white;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -7px;
    transition: 0.3s;
}
a:hover:after{
    width: 100%;
}